@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
html,
body {
  background-image: url("./Images/background1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Shadows Into Light";
  font-size: 16px;
  /* opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
 
  z-index: -1; */
}

.App {
  text-align: center;
}

.icons {
  display: flex;
  flex-direction: row-reverse;
}

#navLogo {
  width: 6em;
}

#iconsContainer {
  /* padding-left: 3.5em; */
  margin-top: 3em;
  margin-bottom: 4em;
  height: 20em;
}

/* #profile,
#fullName {
  position: relative;
} */
#profile {
  background-color: hsla(0, 0%, 25%, 0.7);
  /* padding: 0 5rem 4rem 5rem; */
}

#imageDetails {
  display: inline-block;
  position: relative;
  height: 23em;
  width: 23em;
  overflow: hidden;
  border-radius: 50%;
  border: solid;
  border-color: #56ace0;
  padding: 0.5em;
  /* cursor: pointer; */
}

#fullName {
  width: 30rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
.textContainer {
  font-size: 1em;
  color: "#f4f4f4";
}
.nameTitleImage {
  width: 30em;
  display: block;
  align-self: center;
  padding: 0;
}
@media only screen and (max-widht: 450px) {
}
#projects {
}
